<div id="header">

    <br />
        <h3><%- title %></h3>
        <a href="https://www.freecodecamp.com/challenges/chart-the-stock-market">https://www.freecodecamp.com/challenges/chart-the-stock-market</a>
        <br />


</div>
